html{
  background-color: #f5fafe;
}

.about-title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px; /* Add some margin for spacing */
    background-color: #f5fafe00;
  }
  
  .about1 {
    background-position: center;
    background-image: url('/public/images/sky7.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5fafe;
    text-align: center;
    padding: 10px 0;
  }
  
  .about {
    background-color: #f5fafe00;
    padding: 20px;
    height: 100px;
  }
  
  .middle{
    background-color: #eaf5ff;
  }
  .about-content {
    display: flex;
    justify-content: center;
  }
  
  .about-white-box {
    background-color:  #f5fafe;
    width: 1500px;
    height: 500px; /* Adjust the height as needed */
    margin-top: 20px; /* Add margin to separate the text and the white box */
    display: flex;
    align-items: center;
    justify-content: space-around; /* Equal space around flex items */
  }
  
  .about-left, .about-right {
    flex: 1;
    padding: 0px;

  }
  
  .about-left {
    background-color:   #f5fafe;
    width: 200px;
    height:500px;
    /*margin-left: 100px;*/
  }

  .about-img-1{
    background-color:   #f5fafe;
    margin-top: 50px;
    margin-left: 175px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: block;
    border: 10px solid #fff; /* White border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Add a shadow */
    transform: rotate(-5deg); /* Rotate the image slightly */
  }

  .about-img-2{
    background-color:   #f5fafe;
    margin-top: 100px;
    margin-left: 175px;
    align-items: center;
    width: 400px;
    height: 300px;
    display: block;
    border: 10px solid #fff; /* White border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Add a shadow */
    transform: rotate(0deg); /* Rotate the image slightly */
  }

  .about-img-3{
    background-color:   #f5fafe;
    margin-top: 0px;
    margin-left: 175px;
    align-items: center;
    width: 250px;
    height: 350px;
    display: block;
    border: 10px solid #fff; /* White border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Add a shadow */
    transform: rotate(5deg); /* Rotate the image slightly */
  }

  .about-smalltext{
    
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;

  }

  .about-subtitle{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
  }

  .image-container {
    display: flex;
}